.header {
   padding: 1vw 2vw;
   position: relative;
}

.header__logo {
   max-width: 257px;
   width: 40%;
}


@media (max-width: 768px) {
   .header {
      padding: 4vw;
      text-align: left;
   }
}