.list {
   align-items: stretch;
   display: flex;
   flex-wrap: wrap;
   padding: 0 2%;
   width: 100%;
}

.list__item {
   width: 20%;
}


@media (max-width: 768px) {
   .list__item {
      margin: 0 0 10px 0;
      width: 100%;
   }
}



.loading {
   bottom: 0;
   left: 0;
   position: absolute;
   right:0;
   top: 0;
}

.loading img {
   animation: bounce 1s cubic-bezier(.5,0.05,1,.5) infinite;
   position: relative;
   top: 50%;
   max-width: 140px;
   width: 30%;
}



@keyframes bounce {
   30% { transform: scale(1.02); }
   40%, 60% { transform: rotate(-20deg) scale(1.01); }
   50% { transform: rotate(20deg) scale(1.01); }
   70% { transform: rotate(0deg) scale(1.01); }
   100% { transform: scale(1); }
}



