body {
  background-color: #cdd3dd;
  margin: 0;
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}

.App {
  text-align: center;
  user-select: none;


}

.App * {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

